body{
    font-family:'Poppins',sans-serif;
    background:linear-gradient(#ff9a8e,#fad0c4);
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:30px;
}

form{
    width:700px;
    background:rgba(255,255,255,0.2);
    padding:30px;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    gap:15px;
}

.preview{
    width:700px;
    margin-top:20px;
}

#previewContainer{
    display:flex;
    flex-direction:column;
    gap:30px;
}

/* PDF preview look */
.photo-wrapper{
    background:white;
    padding:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
    border-radius:6px;
}

/* image */
.preview-image{
    width:100%;
    object-fit:contain;
    background:#fafafa;
    margin-bottom:15px;
}

/* BIG caption */
.caption-input{
    width:100%;
    padding:14px;
    font-size:16px;
    min-height:60px;
    border-radius:8px;
    border:1px solid #ddd;
}